body, html {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
}

.btn {
    transition: all 0.3s ease-in-out;
    color: black;
}

.btn:hover {
    color: #fff;
    background-color: #40C575;
}

.card {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    #header {
        text-align: center;
    }
    #header img {
        margin: 20% auto 0;
    }
    #social {
        text-align: center;
    }
    #social hr, #who hr {
        margin: 0 auto;
    }
    #who {
        text-align: center;
    }
    #who img {
        margin-top: 15%;
    }
    #footer {
        text-align: center;
    }
}

/* Navbar */

.navbar {
    background-color: #40C575;
    border-bottom: 1px solid #dedede;
    font-family: 'Alegreya Sans', sans-serif;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FF7900;
}

.navbar-toggler-icon {
    color: #fff;
}

/* HEADER */

#header {
    background: url(img/watch.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    color: #484848;
    display: flex;
    align-items: center;
}

#header img {
    padding: 0 0 20px 0;
    width: 80%;
}

#header .header-right {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
}

#header .fa {
    margin: 5% 0;
}

#header a .fa {
    color: white;
}

#header a .fa:hover {
    color: yellow;
}

.watchSlide {
    height: 350px;
    width: 350px;
}

.fa-star {
    color: gold;
}

#social {
    padding: 4.25rem 0;
}

#social .fa {
    font-size: 1.5em;
    color: #bbee55;
    border: 2px solid #bbee55;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    text-align: center;
    padding: 30% 0;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

#social .fa:hover {
    color: #fff;
    background: #bbee55;
}

#who {
    padding: 5rem 0;
    background-color: #f6f6f6;
}

#who .btn-who {
    background-color: #40C575;
    color: #fff;
    width: 50%;
}

#who .btn-who:hover {
    background-color: transparent;
    border: 1px solid #FF7900;
    color: #FF7900;
}

#why {
    padding: 5rem 0;
    background-color: #bbee55;
}

#why .fa {
    color: #be2835;
    padding: 15px 0;
}

#customers {
    padding: 5rem 0;
    background-color: #f6f6f6;
}

#customers .carousel-indicators li {
    background-color: #40C575;
}

#customers .carousel-inner {
    margin-bottom: 50px;
}

#customers .carousel-indicators {
    margin-bottom: -50px;
}

#pricing {
    padding: 5rem 0;
    background-color: #f6f6f6;
}

#pricing .card .card-header {
    background-color: gold;
    color: black;
    transition: all .2s ease-in-out;
}

#pricing .card .standard {
    background-color: #cd7f32;
}

#pricing .card .plat {
    background-color: #e5e4e2;
}

#pricing .card .card-header:hover {
    background-color: #bbee55;
}

#pricing .card {
    margin-top:20px;
}

#contact {
    padding: 5rem 0;
}

#footer {
    padding: 2rem 0;
    background: #484848;
    color: white;
}

#footer a {
    color: #bbee55;
}

#footer .fa {
    padding: 0 3px;
}